.app{
  font-weight:bold;
}

.header {
  border:2px solid black;
  margin-bottom: 2rem;

}

.main { 
  border: 2px solid purple;

  margin-bottom: 2rem;

}

.footer{
  border: 2px solid navy;
  height:3rem;
}

button {
  margin-left: 2rem;
  border: 2px solid orange;
}

.container{
  display:flex;
  gap:2rem;
}

.container > div {
  border: 2px solid grey;
}

.detail{
  font-weight: 400;
  font-size:1rem;
}

.coupon{
  background-color: moccasin;
}